.description h2 {
  color: #1f3f5b;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  padding: 40px 0px;
  margin-top: 50px;
}

.description .future {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
  margin-top: -60px;
}

.description .future img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.description .future .left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description .future .left-col .paragraph-a {
  margin-bottom: 40px;
}

.description .future .left-col h3 {
  color: #1f3f5b;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin: 10px 0px;
}

.description .future .left-col p {
  color: #1f3f5b;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
}

.infrastructure {
  margin: 20px 0px;
  height: 500px;
  background-color: #2c2d3f;
  border-radius: 0px 80px 0px 80px;
}

.infrastructure .infcols {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "infimage infabout";
}

.infrastructure .infcols .inf-image {
  margin: auto;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: infimage;
}

.infrastructure .infcols .infract-about {
  margin-top: 150px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: infabout;
}

.infrastructure .infcols .infract-about h3 {
  color: white;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin: 10px 0px;
}

.infrastructure .infcols .infract-about p {
  padding-top: 20px;
  color: white;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  max-width: 70ch;
}

.tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

.tool img {
  width: 80vwh;
  margin-left: -360px;
  height: 80vwh;
}

.tool .left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -50px;
}

.tool .left-col .paragraph-c {
  margin-bottom: 40px;
}

.tool .left-col h3 {
  color: #1f3f5b;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin: 10px 0px;
}

.tool .left-col p {
  color: #1f3f5b;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  max-width: 50ch;
}
/*# sourceMappingURL=about.css.map */