
footer{
    padding: 60px 30px;
    background-color: hsl(240, 10%, 16%);
    border-radius: 0px 80px 0px 0px;

.footernavs {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    color: hsl(0, 0%, 100%);
   

    .footnav-1,
    .footnav-2,
    .footnav-3{
        h3{

            color: hsl(0, 0%, 100%);
            font-family: 'Ubuntu', sans-serif;
            font-weight: 500;
            padding-bottom: 20px;
        }
       
       ul{
           
           display: flex;
           flex-direction: column;

           li{
               padding: 10px 0;
               list-style: none;
              

               a{
                text-decoration: none;
                font-family: 'Overpass', sans-serif;
                font-weight: 600;
                padding-top: 5px;
                color: hsl(240, 2%, 79%);
                cursor: pointer;
               }

               a:hover{
                border-bottom: 1px solid white;
            }
           }

       }
        
    }

    
} 
}   
    