
$background : hsl(353, 100%, 62%);
$ctatext : hsl(356, 100%, 66%);
.header{
    background-color: $background;
    border-radius: 0px 0px 0px 80px;
    width: 100%;
    // height: 400px;
    position: relative;
    .burger-menu{
            // display: flex;
            // flex-direction: column;
            position: absolute;
            right: 5%;
            top: 10%;
            display: none;
            
        .lines{
            width: 30px;
            height: 3px;
            background: white;
            margin: 5px;
            
        }
    }
    
    

    // .header-image{
    //     width: 100%;
    //     height: 400px;
    //     align-items: center;
    //     object-fit: none;
    //     border-radius: 0px 0px 0px 80px;
        
    //     }

    .nav{
        // margin-top: -390px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 10px;
        
        

        .left-nav{
          
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            
            
    
            .service-nav{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 40px;
                
                li{
                    display: flex;
                    justify-content: space-between;
                    justify-content: center;
                    list-style: none;
                    padding: 10px 20px;

                    img{
                        padding: 5px;
                        width: 80%;
                    }
    
                    a{
                        color: white;
                        text-decoration: none;
                        font-family: 'Overpass' sans-serif;
                        font-weight: 600;
                        cursor: pointer;
                        transition: 0.4s ease-in 0s;
                    }

                    a:hover{
                        border-bottom: 1px solid white;
                    }
                }
            }
            
    
            }
    
            .right-nav{
    
                .cta{
                    padding: 10px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
        
                    li{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        list-style: none;
        
                        a{
                            color: #fff;
                            text-decoration: none;
                            font-family: 'Overpass' sans-serif;
                            font-weight: 600;
                            cursor: pointer;
                            transition: 0.4s ease-in 0s;
                        }
                        a:hover{
                            border-bottom: 1px solid white;
                        }
                    

                        .cta-signup{
                            color: $ctatext;
                            padding: 10px 20px;
                            display: inline-block;
                            background: hsl(0, 0%, 100%);
                            border-radius: 20px;
                            cursor: pointer;
                            transition: 0.4s ease-in 0s;
                        }
                        .cta-signup:hover{
                            color: white;
                            background: hsl(355, 100%, 74%);
                            
                        }
                    }
        
                }
            }
    }
  

    .hero-mid{
        margin-top: 40px;
        text-align: center;
        justify-content: center;
        color: white;
        padding: 10px 0px;

        h1{
            font-family: 'Overpass', sans-serif;
            font-weight: 700;
            font-size: 4rem;
        }
        p{
            font-family: 'Ubuntu' , sans-serif;
            font-size: 1.4rem;
            font-weight: 400;

        }

        .cta-mid{
            margin-top: 20px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            li{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                list-style: none;

                a{
                    color: #fff;
                    text-decoration: none;
                    font-family: 'Overpass' sans-serif;
                    font-weight: 600;
                }
                .cta-startup{
                    color: $ctatext;
                    padding: 10px 20px;
                    display: inline-block;
                    background: hsl(0, 0%, 100%);
                    border-radius: 20px;
                    cursor: pointer;
                    transition: 0.4s ease-in 0s;
                }
                .cta-startup:hover{
                    color: white;
                    background: hsl(355, 100%, 74%);
                }

                .cta-learn{
                    border: 2px solid white;
                    padding: 10px 20px;
                    display: inline-block;
                    border-radius: 20px;
                    cursor: pointer;
                    transition: 0.4s ease-in 0s;
                }
                .cta-learn:hover{
                    color: $ctatext;
                    background: white;
                }
            }

        }
    }

}


