$background : hsl(353, 100%, 62%);

@import 'navbar.scss';
@import 'about.scss';
@import 'footer.scss';
@import 'responsiveness.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



