.header {
  background-color: #ff3d54;
  border-radius: 0px 0px 0px 80px;
  width: 100%;
  position: relative;
}

.header .burger-menu {
  position: absolute;
  right: 5%;
  top: 10%;
  display: none;
}

.header .burger-menu .lines {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px;
}

.header .nav .left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .left-nav .service-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 40px;
}

.header .nav .left-nav .service-nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 10px 20px;
}

.header .nav .left-nav .service-nav li img {
  padding: 5px;
  width: 80%;
}

.header .nav .left-nav .service-nav li a {
  color: white;
  text-decoration: none;
  font-family: 'Overpass' sans-serif;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in 0s;
  transition: 0.4s ease-in 0s;
}

.header .nav .left-nav .service-nav li a:hover {
  border-bottom: 1px solid white;
}

.header .nav .right-nav .cta {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .right-nav .cta li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  list-style: none;
}

.header .nav .right-nav .cta li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Overpass' sans-serif;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in 0s;
  transition: 0.4s ease-in 0s;
}

.header .nav .right-nav .cta li a:hover {
  border-bottom: 1px solid white;
}

.header .nav .right-nav .cta li .cta-signup {
  color: #ff525d;
  padding: 10px 20px;
  display: inline-block;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in 0s;
  transition: 0.4s ease-in 0s;
}

.header .nav .right-nav .cta li .cta-signup:hover {
  color: white;
  background: #ff7a85;
}

.header .hero-mid {
  margin-top: 40px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding: 10px 0px;
}

.header .hero-mid h1 {
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 4rem;
}

.header .hero-mid p {
  font-family: 'Ubuntu' , sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.header .hero-mid .cta-mid {
  margin-top: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .hero-mid .cta-mid li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  list-style: none;
}

.header .hero-mid .cta-mid li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Overpass' sans-serif;
  font-weight: 600;
}

.header .hero-mid .cta-mid li .cta-startup {
  color: #ff525d;
  padding: 10px 20px;
  display: inline-block;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in 0s;
  transition: 0.4s ease-in 0s;
}

.header .hero-mid .cta-mid li .cta-startup:hover {
  color: white;
  background: #ff7a85;
}

.header .hero-mid .cta-mid li .cta-learn {
  border: 2px solid white;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in 0s;
  transition: 0.4s ease-in 0s;
}

.header .hero-mid .cta-mid li .cta-learn:hover {
  color: #ff525d;
  background: white;
}

.description h2 {
  color: #1f3f5b;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  padding: 40px 0px;
  margin-top: 50px;
}

.description .future {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
  margin-top: -60px;
}

.description .future img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.description .future .left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description .future .left-col .paragraph-a {
  margin-bottom: 40px;
}

.description .future .left-col h3 {
  color: #1f3f5b;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin: 10px 0px;
}

.description .future .left-col p {
  color: #1f3f5b;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
}

.infrastructure {
  margin: 20px 0px;
  height: 500px;
  background-color: #2c2d3f;
  border-radius: 0px 80px 0px 80px;
}

.infrastructure .infcols {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "infimage infabout";
}

.infrastructure .infcols .inf-image {
  margin: auto;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: infimage;
}

.infrastructure .infcols .infract-about {
  margin-top: 150px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: infabout;
}

.infrastructure .infcols .infract-about h3 {
  color: white;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin: 10px 0px;
}

.infrastructure .infcols .infract-about p {
  padding-top: 20px;
  color: white;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  max-width: 70ch;
}

.tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

.tool img {
  width: 80vwh;
  margin-left: -360px;
  height: 80vwh;
}

.tool .left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -50px;
}

.tool .left-col .paragraph-c {
  margin-bottom: 40px;
}

.tool .left-col h3 {
  color: #1f3f5b;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin: 10px 0px;
}

.tool .left-col p {
  color: #1f3f5b;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
  max-width: 50ch;
}

footer {
  padding: 60px 30px;
  background-color: #25252d;
  border-radius: 0px 80px 0px 0px;
}

footer .footernavs {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

footer .footernavs .footnav-1 h3,
footer .footernavs .footnav-2 h3,
footer .footernavs .footnav-3 h3 {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  padding-bottom: 20px;
}

footer .footernavs .footnav-1 ul,
footer .footernavs .footnav-2 ul,
footer .footernavs .footnav-3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footernavs .footnav-1 ul li,
footer .footernavs .footnav-2 ul li,
footer .footernavs .footnav-3 ul li {
  padding: 10px 0;
  list-style: none;
}

footer .footernavs .footnav-1 ul li a,
footer .footernavs .footnav-2 ul li a,
footer .footernavs .footnav-3 ul li a {
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  padding-top: 5px;
  color: #c8c8cb;
  cursor: pointer;
}

footer .footernavs .footnav-1 ul li a:hover,
footer .footernavs .footnav-2 ul li a:hover,
footer .footernavs .footnav-3 ul li a:hover {
  border-bottom: 1px solid white;
}

@media screen and (max-width: 768px) {
  .header .logo {
    margin-top: 20px;
    margin-right: 70%;
  }
  .header .burger-menu {
    display: block;
  }
  .header .nav .left-nav,
  .header .nav .right-nav {
    display: none;
  }
  .header .hero-mid h1 {
    font-size: 3rem;
  }
  .header .hero-mid p {
    font-size: 1.2rem;
  }
  .description h2 {
    font-size: 2.5rem;
  }
  .description .future {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .description .future .left-col p {
    margin-right: 20%;
  }
  .infrastructure {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 0%;
  }
  .infrastructure .infcols {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "infimage" "infabout";
    margin-right: 0%;
  }
  .infrastructure .infcols .inf-image {
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: infimage;
    margin-right: 0%;
  }
  .infrastructure .infcols .infract-about {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: infabout;
    margin-right: 0%;
    margin-left: 30px;
  }
  .tool {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0px;
  }
  .tool .left-col {
    padding-bottom: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */